@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans:wght@500&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

body {
  color: white;
  background-image: url('./img/background_image.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Začátek navigace */

/* img {
  width: 300px;
  border-radius: 5px 5px 0px 0px;
} */

header {
  background-color: blue;
  color: white;
  padding: 20px;
  text-align: end;
  align-self: flex-end;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;

}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: white;
  color: blue;
}

/* Kontejner */


.obsah {
  align-items: center;
  text-align: justify;
  gap: 3rem;
}


.obsah__nadpis {
  font-size: 3em;
  color: blueviolet;
  text-align: center;
  background: linear-gradient(to right, #1907d7, #a007bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Sekce úvod */

.obsah__uvod {
  border: 2px solid rgb(29, 29, 103);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 5px;
  background-image: linear-gradient(#2e267f, #a007bb);

}

.obsah__uvod img {
  width: 100px;
  height: 100px;
  border: 2px solid blueviolet;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: block;
}


span {
  /* border: 2px solid blueviolet;
  border-radius: 5px;
  padding: 2px; */
  position: relative;
  left: 2rem;
  bottom: 1.5rem;
}


/* Patička */

footer {
  background-color: rgb(0, 0, 108);
  color: white;

  font-size: 12px;
  text-align: center;
}
